<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<table>
    <tr>
        <td>
            Orlnado Lungarini
        </td>
        <td>
            [date]
        </td>
    </tr>
    <tr>
        <td>
            [Cliente]
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Productos
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Ofertas
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Devoluciones
        </td>
    </tr>
    <tr>
        <td></td>
        <td>[total]</td>
    </tr>
</table>
</body>
</html>